<style>
  body{background-color:#FFFAF0; background-image: url(https://scontent.cdninstagram.com/t51.2885-15/e15/10467835_716298348483793_159077705_n.jpg?ig_cache_key=OTIzODYyODg2NjI3NjY2ODk3.2);}
  span{background-repeat: no-repeat;}
</style>

<section ng-controller="HomeController">
  <div>  <br> <br> <br> <br></div>
<!--  <div class="jumbotron text-center" style="width:100%; height:100%; background-color:#556B2F; color:white">  -->
    <div class="row" >
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12" >
        <span>
          <img alt="MEAN.JS" class="img-responsive " align="middle" src="modules/core/client/img/brand/swamp.png" no-repeat <style>background-repeat: no-repeat; </style> />
        </span>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead" style="text-align:center; color: white">
        Welcome to the Swamp Head Taplist web application.
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-warning btn-lg col-md-offset-6" href="http://localhost:3000/menu" target="_blank">Taplist</a>
      </p>
    </div>
  </div>

</section>
