<style>
  body{background-color:#FFFAF0; background-image: url(http://www.forestthreats.org/products/photos-and-multimedia/photos/gallery/cypress/image); background-repeat: no-repeat;}
  span{background-repeat: no-repeat;}
</style>

<section ng-controller="HomeController">
  <div>  <br> <br> <br> <br></div>
<!--  <div class="jumbotron text-center" style="width:100%; height:100%; background-color:#556B2F; color:white">  -->
    <div class="row" >
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12" >
        <span>
          <img alt="MEAN.JS" class="img-responsive col-md-offset-1"  src="modules/core/client/img/brand/swamp.png"  />
        </span>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead" style="text-align:center; color: white">
        Welcome to the Swamp Head Taplist web application.
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-warning btn-lg col-sm-offset-5" href="http://localhost:3000/menu" target="_blank">Menu</a>
      </p>
    </div>
  </div>

</section>
