<div class="menuContainer" style="margin-top: -65px;>
  <div class="page-header page-header-bottomless">
  <!--  <h1 align="center">The Wetlands</h1> -->
  <!--  <h2 align="center">Swamp Head Brewery's Tasting Menu</h2> -->
  <div id="textbox">
        <h3 class="alignleft">Views from the Wetlands</h3>
        <h3 class="alignright">#SwampHeadBrewery</h3>
  </div>
  <div style="clear: both;"></div>
  <!-- SnapWidget -->
  <style>
    #myFrame { width:100%; }
  </style>
<iframe src="http://snapwidget.com/sc/?h=c3dhbXBoZWFkYnJld2VyeXxpbnwxNTB8M3wzfHx5ZXN8MjB8bm9uZXxvblN0YXJ0fHllc3xubw==&ve=240316" title="Instagram Widget" class="snapwidget-widget" id = "myFrame" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; height:100px"></iframe>
  </div>
    <h2 align="center">Swamp Head Brewery's Tasting Menu</h2>
  <!-- <div class="marker-pouring"></div> -->
  <div class="tap-tables">
    <div class="col-md-6">
      <table class="table table-striped table-hover table-borderless-top">
        <tr class="clarendon-font">
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>12/16/32/64oz</th>
        </tr>
        <tr ng-repeat="drink in vm.drinks | filter:{onMenu:true}" ng-if="$index % 2 == 0">
          <td><img class="menu-img" src="{{drink.drinkImageURL}}"></img></td>
          <td class="veneer-font">
            <div>{{drink.drinkName}}</div>
            <div class="guest-beer" ng-if="drink.origin.toLowerCase().indexOf('swamp head brewery') == -1">{{drink.origin}}</div>
          </td>
          <td class="clarendon-font">{{drink.drinkStyle}}</td>
          <td class="clarendon-font">{{drink.drinkABV}}</td>
          <td class="clarendon-font">$4/ $5/ $6/ $7</td>

        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-striped table-hover table-borderless-top">
        <tr class="clarendon-font">
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>12/16/32/64oz</th>
        </tr>
        <tr ng-repeat="drink in vm.drinks | filter:{onMenu:true}" ng-if="$index % 2 == 1">
          <td><img class="menu-img" src="{{drink.drinkImageURL}}"></img></td>
          <td class="veneer-font">
            <div>{{drink.drinkName}}</div>
            <div class="guest-beer" ng-if="drink.origin.toLowerCase().indexOf('swamp head brewery') == -1">{{drink.origin}}</div>
          </td>
          <td class="clarendon-font">{{drink.drinkStyle}}</td>
          <td class="clarendon-font">{{drink.drinkABV}}</td>
          <td class="clarendon-font">$4/ $5/ $6/ $7</td>
        </tr>
      </table>
    </div>
  </div>
  <!-- <div class="marker-cooler"></div> -->
  <div class="cooler-tables">
  </div>
</div>
