<section>
  <div class="page-header page-header-bottomless page-header-user">
    <h1 style = "text-align:center">User <span ng-bind="user.username"></span></h1>
  </div>
  <div class="col-md-12">
    <form name="userForm" class="col-md-6 col-md-offset-3" ng-submit="update(userForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="First Name" required />
          <div ng-messages="userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="Last Name" required />
          <div ng-messages="userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="roles">Roles (bartender, manager, admin)</label>
          <div class="controls">
            <!-- <input class="form-control" type="text" name="roles" ng-model="user.roles" id="roles" ng-list required /> -->

            <select id="dropDownRoles" name="roles" class="form-control" data-ng-model="user.roles" ng-init="user.roles = roleOptions[1]" ng-options="userRole.roleOption for userRole in roleOptions" required>
            </select>
            <div ng-messages="userForm.roles.$error" role="alert">
              <p class="help-block error-text" ng-message="required">At role is required.</p>
            </div>
          </div>
        </div>
        <br>
        <div class="form-group text-center">
          <input type="submit" value="Update" class="btn btn-primary clarendon-font">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
