<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Users</h1>
      </div>
      <form role="form" class="form-horizontal">
          <div class="col-md-4 form-group " style="margin-top: 2em">
            <div class="left-inner-addon">
                <i class="glyphicon glyphicon-search " ></i>
                <input class="form-control" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" >
            </div>
          </div>
      </form>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="user in pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item listItem">
      <h4 class="list-group-item-heading" style="color : white" ng-bind="user.username"></h4>
      <p class="list-group-item-text pull-right small list-Txt" ng-bind="user.roles"></p>
      <p class="list-group-item-text list-Txt" ng-bind="user.email"></p>
    </a>
  </div>

  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</section>
