<section>
  <div class="page-header">
    <h1>{{vm.drink._id ? 'Edit Drink' : 'New Drink'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.drinkForm" class="form-horizontal" ng-submit="vm.save(vm.form.drinkForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="drinkName">Name</label>
          <input name="drinkName" type="text" ng-model="vm.drink.drinkName" id="drinkName" class="form-control" placeholder="Drink Name" required>
          <div ng-messages="vm.form.drinkForm.drinkName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Drink Name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="drinkStyle">Style</label>
          <input name="drinkStyle" type="text" ng-model="vm.drink.drinkStyle" id="drinkStyle" class="form-control" placeholder="Drink Style" required>
          <div ng-messages="vm.form.drinkForm.drinkStyle.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Drink Sytle is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="drinkABV">ABV</label>
          <input name="drinkABV" type="text" ng-model="vm.drink.drinkABV" id="drinkABV" class="form-control" placeholder="Drink ABV" required>
          <div ng-messages="vm.form.drinkForm.drinkABV.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Drink ABV is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="color">Color</label>
          <!-- <input name="color" type="text" ng-model="vm.drink.color" id="color" class="form-control" placeholder="Drink Color" required> -->


          <div class ="controls">
            <select ng-model="vm.drink.color" id="color" class="form-control" ng-options="vm.drink.color for color in colorOptions">
              <option value=""> -- Choose A Color -- </option>
            </select>
          </div>

          <!-- <div ng-messages="vm.form.drinkForm.color.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Drink Color is required.</p>
          </div> -->
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="glass">Glass</label>
          <input name="glass" type="text" ng-model="vm.drink.glass" id="glass" class="form-control" placeholder="Drink Glass" required>
          <div ng-messages="vm.form.drinkForm.glass.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Drink Glass is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="origin">Origin</label>
          <input name="origin" type="text" ng-model="vm.drink.origin" id="origin" class="form-control" placeholder="Drink Origin" required>
          <div ng-messages="vm.form.drinkForm.origin.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Drink Origin is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="Price">Price</label>
          <input name="price" type="text" ng-model="vm.drink.price" id="price" class="form-control" placeholder="Drink Price" required>
          <div ng-messages="vm.form.drinkForm.price.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Drink Price is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.drink._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
