<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Drinks</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control" ng-model="searchText" type="text" placeholder="Search"></input>
      </div>
    </div>
  </div>

  <div style="font-size:1.1em;" class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <tr>
          <th>Name</th>
          <th>Style</th>
          <th>ABV</th>
          <th>Price</th>
          <th>Glass</th>
          <th>On Menu</th>
          <th>Edit</th>
        </tr>
        <tr ng-repeat="drink in vm.drinks | filter:{onMenu:true} | filter:searchText | orderBy:'drinkName'">
          <td>{{drink.drinkName}}</td>
          <td>{{drink.drinkStyle}}</td>
          <td>{{drink.drinkABV}}</td>
          <td>{{drink.price}}</td>
          <td>{{drink.glass}}</td>
          <td><input style="width:25px;height:25px;" type="checkbox" ng-model="drink.onMenu" ng-change="vm.AddToMenu(drink)"></input></td>
          <td><a class="btn-sm btn btn-primary glyphicon glyphicon-edit" ui-sref="drinks.edit({ drinkId: drink._id })"></td></a>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div style="font-size:1.1em;" class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <tr>
          <th>Name</th>
          <th>Style</th>
          <th>ABV</th>
          <th>Price</th>
          <th>Glass</th>
          <th>On Menu</th>
          <th>Edit</th>
        </tr>
        <tr ng-repeat="drink in vm.drinks | filter:{onMenu:false} | filter:searchText | orderBy:'drinkName'">
          <td>{{drink.drinkName}}</td>
          <td>{{drink.drinkStyle}}</td>
          <td>{{drink.drinkABV}}</td>
          <td>{{drink.price}}</td>
          <td>{{drink.glass}}</td>
          <td><input style="width:25px;height:25px;" type="checkbox" ng-model="drink.onMenu" ng-change="vm.AddToMenu(drink)"></input></td>
          <td><a class="btn-sm btn btn-primary glyphicon glyphicon-edit" ui-sref="drinks.edit({ drinkId: drink._id })"></td></a>
        </tr>
      </table>
    </div>
  </div>
  <div class="alert alert-warning text-center">
    <a ui-sref="drinks.create">Create Drink</a>
  </div>
</section>
