<section style="padding: 0.5em;">
  <div class="page-header page-header-bottomless">
    <div class="row">
      <div class="col-md-4">
        <h1>Drinks</h1>
      </div>
      <div>
        <form role="form" class="form-horizontal">
          <div class="col-md-4 form-group " style="margin-top: 2em;">
            <div class="left-inner-addon">
              <i class="glyphicon glyphicon-search "></i>
              <input class="form-control" ng-model="searchText" type="text" placeholder="Search">
            </div>
          </div>
        </form>
      </div>
    </div>

    <div style="font-size:1.1em;" class="row">
      <div class="col-md-12">
        <h2>Now Serving</h2>
        <table class="table table-striped table-hover table-borderless-top">
          <tr class="clarendon-font">
            <th>Name</th>
            <th>Style</th>
            <th>ABV</th>
            <th>Price</th>
            <th>Glass</th>
            <th>On Menu</th>
            <th>Edit</th>
          </tr>
          <tr ng-repeat="drink in vm.drinks | filter:{onMenu:true} | filter:searchText | orderBy:'drinkName'">
            <td class="veneer-font">{{drink.drinkName}}</td>
            <td class="clarendon-font">{{drink.drinkStyle}}</td>
            <td class="clarendon-font">{{drink.drinkABV}}%</td>
            <td class="clarendon-font">${{drink.price12}} / {{drink.price16}} / {{drink.price32}} / {{drink.price64}}</td>
            <td class="clarendon-font">{{drink.glass}}</td>
            <td>
              <input style="width:25px;height:25px;" type="checkbox" ng-model="drink.onMenu" ng-change="vm.AddToMenu(drink)" class="center-checkbox">
            </td>
            <td>
              <a class="btn-sm btn btn-primary glyphicon glyphicon-edit" ui-sref="drinks.edit({ drinkId: drink._id })"></td>
            </a>
          </tr>
        </table>
      </div>
    </div>
    <br>
    <div style="font-size:1.1em;" class="row">
      <div class="col-md-12">
        <h2>Currently Unavailable</h2>
        <table class="table table-striped table-hover table-borderless-top">
          <tr class="clarendon-font">
            <th>Name</th>
            <th>Style</th>
            <th>ABV</th>
            <th>Price</th>
            <th>Glass</th>
            <th>On Menu</th>
            <th>Edit</th>
          </tr>
          <tr class="veneer-font" ng-repeat="drink in vm.drinks | filter:{onMenu:false} | filter:searchText | orderBy:'drinkName'">
            <td class="veneer-font">{{drink.drinkName}}</td>
            <td class="clarendon-font">{{drink.drinkStyle}}</td>
            <td class="clarendon-font">{{drink.drinkABV}}%</td>
            <td class="clarendon-font">${{drink.price12}} / {{drink.price16}} / {{drink.price32}} / {{drink.price64}}</td>
            <td class="clarendon-font">{{drink.glass}}</td>
            <td>
              <input style="width:25px;height:25px;" type="checkbox" ng-model="drink.onMenu" ng-change="vm.AddToMenu(drink)" class="center-checkbox"></input>
            </td>
            <td>
              <a class="btn-sm btn btn-primary glyphicon glyphicon-edit" ui-sref="drinks.edit({ drinkId: drink._id })"></td>
            </a>
          </tr>
        </table>
      </div>
    </div>
    </br>
    <div class="alert text-center gray-text btn-primary">
      <a ui-sref="drinks.create">Create Drink</a>
    </div>
</section>
