<section>
  <div class="page-header">
    <h1>Drinks</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="drink in vm.drinks" ui-sref="drinks.edit({ drinkId: drink._id })" class="list-group-item listItem">
      <h4 class="list-group-item-heading" style="color : white" ng-bind="drink.drinkName"></h4>
      <p class="list-group-item-text list-Txt" ng-bind="drink.drinkStyle"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center">
    <a ui-sref="drinks.create">Create Drink</a>
  </div>
</section>
