.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.navbar-custom{
  background-image: url(../modules/core/client/img/design/wood_texture1.jpg);
  background-repeat: repeat;
}

/*** Links CSS ***/
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    text-shadow:     0   -1px 0 rgba(0, 0, 0, 1),
                     0    1px 0 rgba(0, 0, 0, 1),
                     1px  0   0 rgba(0, 0, 0, 1),
                    -1px  0   0 rgba(0, 0, 0, 1);
    color: #BDBDBD;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: white;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: white;
    background: inherit;
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.85);
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: white;
    background: inherit;
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.85);
}
/**** End Link CSS ****/

/*create a larger button size intended for the home page to reach the menu page*/
.btn-xl {
        font-size: 22px;
        padding: 10px 16px;
        border-radius: 6px;
        margin-left: auto;
        margin-right: auto;
    }

.glyphicon {
    color: #616157;
}
.glyphicon-trash, .glyphicon-edit {
    color: white;
}

.gray-text {
  color: #BDBDBD;
}

.white-on-action a:hover, .white-on-action a:focus {
    color: white;
}

.btn-primary a {
  color: white;
}

.text-shadow-menu {
  text-shadow:     0   -1px 0 rgba(0, 0, 0, 1),
                   0    1px 0 rgba(0, 0, 0, 1),
                   1px  0   0 rgba(0, 0, 0, 1),
                  -1px  0   0 rgba(0, 0, 0, 1);
}

.btn-primary a:hover, .btn-primary a:focus {
  color: white;
  text-decoration: none;
}

.white-border {
  border-color: white;
}

.btn:hover, .btn:focus {
  color:  white;
}

.page-header-drink, .page-header-user {
  margin-bottom: 0;
}
