.footer{
  position: fixed;
  bottom: 1em;
  width: 100%;
  text-align: center;
}

body {
  background-color: #1B1B1A;
}

h3 {
  color: #f3f3ed;
  font-family: 'clarendon', sans-serif;

}

h1, h2 {
  color: #f3f3ed;
  font-family: 'ashwood', sans-serif;
  font-weight: normal !important;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

h1 {
  font-size: 8em;
  line-height: .8em;
}

h2 {
  font-size: 5em;
  line-height: .9em;
  margin-bottom: 7px;
  margin-top: 0;
}

/*start styling specifically for other pages*/

h4, label, p {
  font-family: 'veneer', sans-serif;
  font-weight: normal !important;
}

a, button {
  font-family: 'clarendon', sans-serif;
  font-weight: normal !important;
}

label, b, strong, body {
  color: #f3f3ed;
}

/*end styling specifically for other pages*/

.beer-img {
  width: 1.0em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img.bird {
  width: 2.2em;
}

.veneer-font {
  color: #f3f3ed;
  font-family: 'veneer', sans-serif;
  font-weight: normal !important;
}
.clarendon-font {

  font-family: 'clarendon', sans-serif;
  font-weight: normal !important;
}

.clarendon-font > h2 {

  font-family: 'clarendon', sans-serif;
  font-weight: normal !important;
  font-size: 2em;
}

.guest-beer {
  color: #a68f49;
}

table, th , td {
  padding: 5px;
  background-color: #262421;
  color: #f3f3ed;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table-borderless-top tbody tr td, .table-borderless-top tbody tr th, .table-borderless-top thead tr th {
    border-top: none;
    border-bottom: 1px solid white;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border-top: none;
    border-bottom: none;
}

.table-striped>tbody>tr:nth-child(odd)>th {
    background-color:#262421;
}

.table-striped>tbody>tr:nth-child(odd)>td,
tr.found{
    background-color:#262421;
}

.table-striped>tbody>tr:nth-child(even)>td,
tr.found{
    background-color:#19140E;
}

.page-header-bottomless {
  border-bottom: none;
}

@font-face {
font-family: 'veneer';
src: url("/fonts/Veneer.otf") format("opentype");
}

@font-face {
  font-family: 'clarendon';
  src: url("/fonts/Clarendon_Regular.otf") format("opentype");
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'ashwood';
  src: url("/fonts/Ashwood_Condensed.ttf") format("truetype");
}
